header{
    width: 100%;
    background-color: #4c7aaf;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu li{
    border-right: 2px solid rgba(255, 255, 255, 0.801);
    /* border-right: 1px solid #fff; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;

}

.card{
	width: 100%;
    margin-left: 5000px;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #4c7aaf;
	cursor: default;
    margin-right: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
    color: white;
    text-align:justify;
}

img{
   margin-left: 550px;
width: 400px;

}
p{
    font-size: 20px;
}
