
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;

}

.card{
	width: 100%;
    margin-left: 5000px;
	margin: 20px;
	background: #4c7aaf;
    margin-right: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
 
    text-align:justify;
}

.imagen img{
    margin-left: 823px;
 width: 250px;
 
 }
 p{
     font-size: 20px;
 }
 