
table{

    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
overflow: auto;
 

}

 th,td{

    border: solid 1px black;
    padding: 20px;
}

th{

    background-color: rgb(90, 165, 206);
    color: white;
}

h3{

    font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h6{
font-size: 15px;

font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buscar{
    width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
    text-align: center;
}

.buscar, submit 

h4{

    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}