* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .form-register {
    width: 1000px;
    background: #1b436c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #c56f1f;
    font-family: 'calibri';
    font-size: 18px;

  }
  
  .form-register p {
    height: 40px;
    text-align: left;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #e67d1c;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .form-register .checkboxs {
    text-align: initial;
  }

  h1 {
    font-family: 'calibri';
    color: #24303c;
    text-align: center;
    margin-top: 60px;
    margin-bottom: -35px
  }