form{
  width: 1000px;
    background: #2a6aa9;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

h1{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
}
.btn{
  width: 100%;
  background: #e67d1c;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.controls {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #c56f1f;
  font-family: 'calibri';
  font-size: 18px;

}