header{
    width: 100%;
    background-color: #4c7aaf;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu li{
    border-right: 2px solid rgba(255, 255, 255, 0.801);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}


  
h5{

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  form{
    width: 1000px;
    background: #1b436c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  h1{
    font-family: 'calibri';
    color: #24303c;
    text-align: center;
    margin-top: 60px;
    margin-bottom: -35px
  }
  
  input, textarea{
    border: 0;
    outline: none;
    width: 280px;
  }
  
  .field{
    border: solid 2px rgb(20, 20, 20);
    padding: 10px;
  }
  
  .field:focus{
    border-color: #18A383;
  }
  
  .btn{
      border-radius: 3px;
      display: inline-block;
      padding: 20px 15px;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255,255,255,0.3);
      box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
  }
  
  .btn-green{
      color: white;
      background-color: #195a8f;
  }
  .btn-green:hover{
      background-color: #138fad;	
  }
  .btn-green:active{
      background-color: #287e94;
  }


  .enviar{

    width: 100%;
    background: #e67d1c;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }


  .controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #c56f1f;
    font-family: 'calibri';
    font-size: 18px;
  
  }