

h1, h2{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: center;
 margin-top: 30px;
 margin-top: 30px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 10px;
   margin-left: 30px;
   font-size: 18px;
}

h3{
    padding: 5px;
    margin: 10px;
    margin-left: 30px;
    border-top: 1px solid black;
    height: 2px;
    width: 200%;

  
}



.imgg img{
    float: right;
    height: 200px;
    width: 200px;
}



.text1{

text-align: center;
background-color: rgb(251, 251, 251);
}
