header{
    width: 100%;
    background-color: #4c7aaf;
    background-size: cover;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;

}

.menu li{
    border-right: 2px solid rgba(255, 255, 255, 0.801);
    /* border-right: 1px solid #fff; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}