header{
    width: 100%;
    background-color: #4c7aaf;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;

}

.menu li{
    border-right: 2px solid rgba(255, 255, 255, 0.801);
    /* border-right: 1px solid #fff; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}



h1, h2{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: center;
 margin-top: 30px;
 margin-top: 30px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 10px;
   margin-left: 30px;
}

h3{
    padding: 5px;
    margin: 10px;
    margin-left: 30px;
}

