header{
    width: 100%;
    background-color: #4c7aaf;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu li{
    border-right: 2px solid rgba(255, 255, 255, 0.801);
    /* border-right: 1px solid #fff; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;

}

.ul{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 28px;
 text-align: center;
}

.contenido {

text-align:center;
color: rgb(0, 0, 0);
background-color: #4c7aaf;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 40px;
margin-left: 400px;
margin-right: 400px;
color: white;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;

}

.card1{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
    text-align: center;
}

.card2{
    width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
    text-align: center;
}


button{

 
        padding: 10px;
        background: #1e5b94;
        border: none;
        color: white;
        font-size: 20px;
        /* pointer-events: none; */
        cursor: pointer;
      
      
}

.botones{
    width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;

	cursor: default;


    

}